/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

/*
Home -> Container
*/

.header {
    width: 80%;
    margin: 0 auto;
    margin-top: 75px;
}
.header .breadcrumb a {
    text-decoration: none;
    color: black;
}
.header .breadcrumb span {
    margin-right: 10px;
}

.container {
    height: 70vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.container .about {
}
.container .blog-listings {
    overflow-y: scroll;
    max-height: 100%;
}
.container .blog-listings .blog-post {
    border: solid black;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 600px) {
    .header {
        width: 90%;
    }
    .container {
        width: 90%;
        flex-direction: column;
    }
}

/* Home -> PMBS */

.upload-post {
}
.blog-overview {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: solid;
    padding: 50px;
    padding-top: 0;
}
.blog-overview .blog-tree {
    height: 50%;
    padding: 10px;
}
.blog-overview .blog-listings {
    overflow-y: auto;
    height: 75%;
}
.blog-overview .blog-post {
    height: 30px;
}
.blog-overview .blog-tree .blog-post {
    display: flex;
}
.blog-overview .blog-tree .blog-name-stats {
    width: 70%;
    height: 100%;
}
.blog-overview .blog-tree .blog-name-stats h3 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    margin-top: 5px;
}
.blog-overview .blog-post .blog-controlls {
    width: 30%;
    display: flex;
    gap: 10px;
}
.blog-overview .blog-post .blog-controlls button {
    height: 100%;
    width: 50%;
    border: 1px solid;
    background: transparent;
}
.blog-overview .blog-tree .blog-name-stats span {
    margin-left: 10px;
}
.blog-overview .blog-post-settings {
    padding: 10px;
    height: 50%;
}
.blog-overview input[type=text] {
    width: 50%;
    margin-bottom: 10px;
}

.postData input {
    margin-bottom: 10px;
}
input[type=text]{
    border: 1px solid;
    padding: 5px;
    width: 100%;
}
input[type=password]{
    border: 1px solid;
    padding: 5px;
    width: 100%;
}
input[type=submit] {
    margin-top: 0px;
    padding: 5px;
    border: 1px solid;
    background: transparent;
    color: black;
}
#drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 200px;
  padding: 1em;
  border: 1px solid;
  cursor: pointer;
}
#file-input {
  display: none;
}
#preview {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: none;
  padding: 0;
}
#preview li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0;
  width: 100%;
  height: 100px;
}
#preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


/* Blog Post */

hr {
    color: black;
    border: 1px solid;
    width: 100%;
    margin-left: 0;
}
.content {
    max-width: 1000px;
    padding-bottom: 20px;
}

blockquote {
    margin: 0px;
    background: rgba(128, 128, 128, 0.346);
    padding: 10px;
}